.products {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-text-cont{
        margin-top: 50px;
    }

    &-cont {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    &-wrap {
        display: flex;
        flex-direction: row;
    }

    &-img {
        width: 32vw;
        display: flex;
        flex-direction: row;
        margin: 0 20px 12px -25px;

        &-title {
            margin: 25px 0 40px 15px;
            width: 37vw;
        }

        &-leaf {
            display: flex;
            width: 3vw;
            margin-left: -40px;
            margin-top: 8px;
        }

        &-text {
            margin-top: 25px;
            font-size: 6vw;
            text-align: left;
            margin-left: 15px;


            &-2 {
                color: #005B38;
                margin-top: -20px;
            }
        }
    }
}
