.footer{
    background-color: #000000;
    margin: 0;
    padding: 0;

    &__container{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-content: space-between;

        padding-top: 28px;
        padding-bottom: 32px;

        line-height: 2.2px;
    }

    &__text-top {
        font-family: Helvetica;
        color: #EEEEEE;
        font-weight: 600;
        font-size: 0.6rem;
    }

    &__text-bottom {
        color: #707070;
        font-weight: 400;
        font-size: 0.6rem;
    }

    &__flag-country-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__flag{
        margin: 0;
        padding: 0;
        width: 18px;
        margin-right: 3px;
    }


}

a:link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}